*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

nav {
  margin: 0 auto;
  position: left;
  background-color: black;
  \* border: top right bottom left; *\
  border: : 50px 50px 50px 50px;
  \* margin: top right bottom left; *\
  margin: 50px 50px 50px 50px;
  \* padding: top right bottom left; *\
  padding: 50px 10px 10px 10px;
  width: 420px; /* counts toward width */
}

h1{
color: black;
font-size: 150%;
}

h3 {
  color: black;
}

.container {
 background-color: #aaa;
 border: : 5% 5% 5% 5%;
 \* margin: top right bottom left; *\
 margin: 5% 5% 5% 5%;
 \* padding: top right bottom left; *\
 padding: 5% 5% 10% 5%;
 width: 420px; /* counts toward width */
}

.restaurant-list {
  border: : 50px 50px 50px 50px;
  \* margin: top right bottom left; *\
  margin: 50px 50px 50px 50px;
  \* padding: top right bottom left; *\
  padding: 10px 0 15px 15px;
  width: 420px; /* counts toward width */
}

.content {
    background-color: #aaa;
    margin: 1%;
    padding: 1%;
    width: 75%;
    display: inline-block;
  }

  .location {
    padding: 5% 0 5% 0
    width: 100%;
    border-bottom: 1px solid black;
  }

.arrow {
background-color: #aaa;
float: right;
width: 14%;
margin: 1% 1% 1% 1%;
display: inline-block;
vertical-align:
}
